@model IEnumerable<VirtualWardrobeV3.Sho>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<div class="row">
    <div class="col-md-3">
        @foreach (var item in Model)
        {
            <img src="~/Photos/@Html.DisplayFor(modelItem => item.Photo)" style="width:250px;" /><br /><br />
            <p>
                <strong>@Html.DisplayFor(modelItem => item.Name)</strong><br />
                @Html.DisplayFor(modelItem => item.Type) |
                @Html.DisplayFor(modelItem => item.Color) |
                @Html.DisplayFor(modelItem => item.Season) |
                @Html.DisplayFor(modelItem => item.Occasion) |
                @Html.DisplayFor(modelItem => item.Size) |
                <strong>@Html.DisplayFor(modelItem => item.Price)</strong><br />
                @Html.ActionLink("Details", "Details", new { id = item.ShoeID })
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ShoeID })*@
            </p>
        }
    </div>
</div>